<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="primary"></ion-back-button>
      <img alt="MyCargonautLogo" src="assets/icon/myCargonautLogo.png" class="logo">
    </ion-buttons>
    <ion-title>
      Angebot erstellen
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-spinner *ngIf="editMode && offerStatus === 'undefined'" name="crescent" class="loadingSpinner"></ion-spinner>
  <div *ngIf="offerStatus === 'not found'">
    <ion-icon class="errorIcon" name="alert-outline"></ion-icon>
    <h5 class="errorMessage">Angebot konnte nicht gefunden werden</h5>
  </div>
  <div *ngIf="offerStatus === 'no auth'">
    <ion-icon class="errorIcon" name="alert-outline"></ion-icon>
    <h5 class="errorMessage">Angebot kann nicht bearbeitet werden, da es nicht von Ihnen angelegt wurde</h5>
  </div>
  <div *ngIf="offerStatus === 'found' || editMode === false">
    <ion-grid>
      <ion-row>
        <ion-col></ion-col>
        <ion-col size-xs="10" size-sm="10" size-md="8" size-lg="6" size-xl="6">
          <h3 class="header">Gib hier diene Angebotsdaten ein!</h3>
          <form [formGroup]="createOfferForm">
            <ion-item>
              <ion-label position="floating">Ziel der Fahrt</ion-label>
              <ion-input [(ngModel)]="destination" formControlName="destination" type="text" #destinationInput></ion-input>
              <div class="validation-errors">
                <ng-container *ngFor="let validation of validationMessages.destination">
                  <div class="error-message" *ngIf="createOfferForm.get('destination').hasError(validation.type)
             && (createOfferForm.get('destination').touched)">
                    <ion-icon name="alert-outline"></ion-icon>
                    {{validation.message}}
                  </div>
                </ng-container>
              </div>
            </ion-item>

            <ion-item>
              <ion-label position="floating">Start der Fahrt</ion-label>
              <ion-input [(ngModel)]="start" formControlName="start" type="text"></ion-input>
              <div class="validation-errors">
                <ng-container *ngFor="let validation of validationMessages.start">
                  <div class="error-message" *ngIf="createOfferForm.get('start').hasError(validation.type)
             && (createOfferForm.get('start').touched)">
                    <ion-icon name="alert-outline"></ion-icon>
                    {{validation.message}}
                  </div>
                </ng-container>
              </div>
            </ion-item>

            <ion-item id="zeit">
              <div style="padding-top: 15px">
                <p>Datum und Uhrzeit</p>
              </div>
            </ion-item>
            <ion-item>
              <ion-datetime hour-cycle="h23" locale="de-DE" [(ngModel)]="date" formControlName="date"></ion-datetime>
              <div class="validation-errors">
                <ng-container *ngFor="let validation of validationMessages.date">
                  <div class="error-message"
                       *ngIf="createOfferForm.get('date').hasError(validation.type) && (createOfferForm.get('date').touched ||
                  createOfferForm.get('date').dirty)">
                    <ion-icon name="alert-outline"></ion-icon>
                    {{ validation.message }}
                  </div>

                </ng-container>
              </div>
            </ion-item>

            <ion-item>
              <ion-label position="floating">Preis</ion-label>
              <ion-input [(ngModel)]="price" formControlName="price" type="number"></ion-input>
              <div class="validation-errors">
                <ng-container *ngFor="let validation of validationMessages.destination">
                  <div class="error-message" *ngIf="createOfferForm.get('destination').hasError(validation.type)
             && (createOfferForm.get('destination').touched)">
                    <ion-icon name="alert-outline"></ion-icon>
                    {{validation.message}}
                  </div>
                </ng-container>
              </div>
            </ion-item>

            <ion-item>
              <ion-label position="floating">Fahrzeug</ion-label>
              <ion-select interface="popover" [(ngModel)]="vehicleId" formControlName="vehicleId">
                <ion-select-option class="selectOption-small" *ngFor="let val of vehicles"
                                   [value]="val.vehicleId">{{val.name}}
                </ion-select-option>
              </ion-select>
              <div class="validation-errors">
                <ng-container *ngFor="let validation of validationMessages.vehicleId">
                  <div class="error-message" *ngIf="createOfferForm.get('vehicleId').hasError(validation.type)
             && (createOfferForm.get('vehicleId').touched)">
                    <ion-icon name="alert-outline"></ion-icon>
                    {{validation.message}}
                  </div>
                </ng-container>
              </div>
            </ion-item>
          </form>
          <ion-button color="success" expand="block" class="btn-space offerCreate" (click)="createOffer()">Angebot speichern</ion-button>
        </ion-col>
        <ion-col></ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
