<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="primary"></ion-back-button>
      <img alt="MyCargonautLogo" src="assets/icon/myCargonautLogo.png" class="logo">
    </ion-buttons>
    <ion-title>Gesuche ansehen</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-spinner *ngIf="(!request || !user) && !error" name="crescent" class="loadingSpinner"></ion-spinner>
  <ng-container *ngIf="request && user">
    <ion-list>
      <ion-item>
        <ion-label style="font-size: 15px">Start: {{request.start}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label style="font-size: 15px">Ziel: {{request.destination}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label style="font-size: 15px">Stauraum: {{request.cargoSpace}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label style="font-size: 15px">Plätze: {{request.seats}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label style="font-size: 15px" color="primary" (click)="openOtherUser(this.request.userId)">Gesuche
          von:  {{user.userName}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label style="font-size: 15px">Datum: {{request.date  | date:'mediumDate':'+02:00'}} {{request.date | date: 'shortTime' : '+02:00'}}</ion-label>
      </ion-item>
      <ion-item *ngIf="lowestBidUser">
        <ion-label style="font-size: 15px" color="primary">Niedrigstes Gebot: {{request.lowestBid}} CC von {{lowestBidUser.userName}}</ion-label>
      </ion-item>
      <ion-item *ngIf="!request.lowestBid">
        <ion-label style="font-size: 15px" color="primary">Es liegt noch kein Angebot eines Cargonauten vor!</ion-label>
      </ion-item>
      <ion-item *ngIf="request.offerId">
        <ion-label style="font-size: 15px" color="primary"><ion-icon name="checkmark-done-outline"></ion-icon>Angebot angenommen</ion-label>
      </ion-item>
    </ion-list>

    <ion-item *ngIf="!ownRequest && request.offerId">
      <ion-button color="danger"
                  class="btn-space" (click)="bidRequest = true">
        <ion-icon name="document-outline"></ion-icon>
        Angebot erstellen
      </ion-button>
    </ion-item>
    <ion-item *ngIf="bidRequest">
      <ion-label position="floating">Preis</ion-label>
      <ion-input [(ngModel)]="bidPrice" type="text"></ion-input>
      <section>
        <ion-button color="primary" style="display: inline-block" (click)="saveBid()">Angebot speichern</ion-button>
        <ion-button color="light" style="display: inline-block" (click)="bidRequest = false">Schließen</ion-button>
      </section>
    </ion-item>
  </ng-container>

  <ion-item *ngIf="ownRequest && !request.offerId && request.lowestBid">
    <ion-button color="danger"
                class="btn-space" (click)="acceptBid()">
      <ion-icon name="checkmark-outline"></ion-icon>
      Angebot annehmen
    </ion-button>
  </ion-item>
</ion-content>
