<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1">
      <ion-icon name="pricetags"></ion-icon>
      <ion-label>Angebote</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon name="search"></ion-icon>
      <ion-label>Gesuche</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="bookings">
      <ion-icon name="car-outline"></ion-icon>
      <ion-label>Buchungen</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile">
      <ion-icon name="person"></ion-icon>
      <ion-label>Profil</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
