<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <img alt="MyCargonautLogo" src="assets/icon/myCargonautLogo.png" class="logo">
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-icon color="primary" name="add" style="width: 25px; height: 25px; margin-right: 10px" (click)="createRequest()"></ion-icon>
    </ion-buttons>
    <ion-title>
      Gesuche
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light-tint" class="offersTabBackground">
  <ion-grid>
    <ion-row>
      <ng-container *ngFor="let request of this.requestService.request | async" class="card text-right" style="border: none">
        <ion-col size-xs="12" size-sm="6" size-md="6" size-lg="4" size-xl="3">
          <app-request-card [request]=request style="width: 100%"></app-request-card>
        </ion-col>
      </ng-container>
    </ion-row>
  </ion-grid>
</ion-content>
