<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="primary"></ion-back-button>
      <img alt="MyCargonautLogo" src="assets/icon/myCargonautLogo.png" class="logo">
    </ion-buttons>
    <ion-buttons *ngIf="offer" slot="end">
      <ion-icon color="primary" name="pencil" class="iconButton" *ngIf="offer.userId === authService.userId"
                (click)="editOffer(offerId)">></ion-icon>
      <ion-icon color="danger" class="iconButton" name="trash"
                *ngIf="offer.userId === authService.userId" (click)="deleteOffer()"></ion-icon>
    </ion-buttons>
    <ion-title>Angebot ansehen</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-spinner *ngIf="(!offer || !user) && !error" name="crescent" class="loadingSpinner"></ion-spinner>
  <ng-container *ngIf="offer && user">
    <ion-item *ngIf="ownOffer">
      <h4>Eigenes Angebot</h4>
    </ion-item>
    <ion-list>
      <ion-item>
        <ion-label style="font-size: 15px">Start: {{offer.start}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label style="font-size: 15px">Ziel: {{offer.destination}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label style="font-size: 15px">Preis: {{offer.price}}</ion-label>
      </ion-item>
      <ion-item *ngIf="vehicle">
        <ion-label style="font-size: 15px">Fahrzeug: {{vehicle.name}}</ion-label>
      </ion-item>
      <ion-item *ngIf="offer.seats">
        <ion-label style="font-size: 15px">Verfügbare Plätze: {{offer.seats}}</ion-label>
      </ion-item>
      <ion-item *ngIf="offer.seats">
        <ion-label style="font-size: 15px">Verfügbarer Stauraum: {{offer.cargoSpace}} Liter</ion-label>
      </ion-item>
      <ion-item>
        <ion-label style="font-size: 15px" color="primary" (click)="openOtherUser(this.offer.userId)">Angeboten
          von:  {{user.userName}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label style="font-size: 15px; color: #279854" (click)="openOtherUser(userWhoBooked.userId)"
                   *ngIf="userWhoBooked">Gebucht
          von:  {{userWhoBooked.userName}}</ion-label>
        <ion-label style="font-size: 15px" color="primary" (click)="openOtherUser(this.offer.userId)"
                   *ngIf="!userWhoBooked">Derzeit nicht gebucht
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label style="font-size: 15px">
          Datum: {{offer.date  | date:'mediumDate':'+02:00': 'de-DE'}} {{offer.date | date: 'shortTime' : '+02:00': 'de-DE'}}
          Uhr
        </ion-label>
      </ion-item>
    </ion-list>
    <ion-button *ngIf="available && !ownOffer" color="primary" expand="block" class="btn-space" (click)="book()">Buchen</ion-button>
    <ion-button *ngIf="booked" color="primary" expand="block" class="btn-space" (click)="resetBook()">Buchung absagen
    </ion-button>
    <ion-button *ngIf="offer.userId === authService.userId && !available" color="danger" expand="block"
                class="btn-space" (click)="startRide()">
      <ion-icon name="car-outline"></ion-icon>
      Fahrt starten
    </ion-button>
  </ng-container>
  <ion-item *ngIf="error" class="redFont">
    <ion-icon name="warning-outline" color="red"></ion-icon>
    Ein Fehler ist aufgetreten!
  </ion-item>
  <ion-item *ngIf="!available && !booked && offer  && user && offer.userId !== authService.userId"
            class="redFont">
    <ion-icon name="warning-outline" color="red"></ion-icon>
    Dieses Angebot wurde bereits gebucht!
  </ion-item>
</ion-content>
