<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="primary"></ion-back-button>
      <img alt="MyCargonautLogo" src="assets/icon/myCargonautLogo.png" class="logo">
    </ion-buttons>
    <ion-title>Profil</ion-title>
    <ion-buttons slot="end">
    <ion-icon *ngIf="authService.user && !differentUser" color="danger" name="log-out" (click)="this.authService.logout()"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="authService.user && !differentUser">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-item>
          <h3 class="header">Willkommen {{authService.user.userName}}</h3>
        </ion-item>
        <ion-item>
          <p>Vorname: {{authService.user.firstName}}</p>
        </ion-item>
        <ion-item>
          <p>Nachname: {{authService.user.lastName}}</p>
        </ion-item>
        <ion-item>
          <p>Meine E-Mail: <a>{{authService.user.email}}</a></p>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-list>
          <ion-item>
            <ion-label style="font-size: 20px">Meine Fahrzeuge</ion-label>
            <ion-icon name="add-outline" (click)="openAddVehicle()" color="primary"></ion-icon>
          </ion-item>
          <ng-container *ngFor="let vehicle of vehicleService.vehicles | async">
            <app-vehicle-item [vehicle] = vehicle></app-vehicle-item>
          </ng-container>
        </ion-list>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-list>
          <ion-item>
            <ion-label style="font-size: 20px">Meine Bewertungen</ion-label>
          </ion-item>
          <ng-container *ngFor="let eval of evaluationService.evals | async">
            <app-eval-card [eval] = eval></app-eval-card>
          </ng-container>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-content *ngIf="authService.user && differentUser && userOther">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-item>
          <h3 class="header">Profil von {{userOther.userName}}</h3>
        </ion-item>
        <ion-item>
          <p>Vorname: {{userOther.firstName}}</p>
        </ion-item>
        <ion-item>
          <p>Nachname: {{userOther.lastName}}</p>
        </ion-item>
        <ion-item>
          <p>Kontaktiere mich über meine E-Mail: <a>{{userOther.email}}</a></p>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-list>
          <ion-item>
            <ion-label style="font-size: 20px">Bewertungen des Nutzers</ion-label>
          </ion-item>
          <ng-container *ngFor="let eval of evaluationService.evals | async">
            <app-eval-card [eval] = eval></app-eval-card>
          </ng-container>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-content *ngIf="!authService.user">
  <ion-item (click)="openLogin()">
    <p>Um auf deine Daten zuzugreifen musst du dich anmelden!</p>
      <ion-icon name="chevron-forward-outline" color="primary"></ion-icon>
  </ion-item>
</ion-content>
